.homepage-home-button {
    margin-left: 55px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    color: #5b75fe;
    font-weight: bold;
    font-size: 30px;
    border: 0cm;
    background-color: transparent;
    display: flex;
    gap: 10px;
  }