.wrapper {
  width: 450px;
  background: rgba(255, 255, 255, 0.45);
  color: #fff;
  padding: 50px 30px 100px 30px;
  border-radius: 15px;
}

.wrapper h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  color: rgba(34, 34, 34, 0.5);
  padding: 20px 20px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper .forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: 700;
  margin: -20px 0 10px;
}

.forgot a {
  color: #0f67fe;
  text-decoration: none;
}

.forgot a:hover {
  color: #0f67fe;
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #0f67fe;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 18px;
  color: #fff;
  margin-top: 50px;
}

.wrapper hr.line {
  border: none;
  width: 157px;
  height: 5px;
  border-radius: 10px;
  background-color: #0f67fe; /* Change this color to match your design */
  margin: 15px auto; /* Adjust the margin as needed */
}

.wrapper .errmsg {
  position: relative;
  width: 100%;
  height: 30px;
}

.errmsg .icon {
  color: #ff0000;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.errmsg p {
  color: #ff0000;
  font-size: 15;
  font-weight: 400;
  border: 1px solid #ff0000;
  border-radius: 3px;
  background-color: #fff5f4;
  padding: 3px 25px 3px;
}

@media screen and (max-width: 1194px) {
  /* Styles to apply when the screen width is 768 pixels or less */
  .wrapper {
    width: 100%;
    padding: 30px 15px 80px 15px;
  }

  .wrapper h1 {
    font-size: 32px;
  }

  /* Adjust other styles as needed for smaller screens */
}
