.datatable {
    height: 400px;
    padding: 20px;
    
    .datatableTitle{
      width: 60%;
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}  