#LoginContainer {
  overflow: hidden;
}

.login-page {
  background: url("../../assets/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  justify-content: space-between;
  height: 100vh;
  gap: 130px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 8.34vw;
  height: auto;
  margin: 0;
}

.logo h1 {
  font-size: 8.34vw;
  margin: 0;
  background: linear-gradient(130deg, #fff4d7, #dadefb, #d8ffdc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: "800";
  filter: drop-shadow(0px 3px 4px #a4b9ef);
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5vh;
}

.left-side p {
  color: #fff;
  font-size: 1.94vw;
  font-weight: 600;
}
